:root{
	--bkg-grey: rgba(255, 255, 255, 8%);
	--bkg-charcoal: rgb(10, 10, 10);
	--bkg-red: #960F0F;
}
#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  overflow: hidden;
  font-family: 'Eczar', 'Times New Roman', Times, serif;
}

#header{
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 98%;
	z-index: 100;
	padding: 1rem;
	padding-top: 0;
	margin: auto;
}
#filter{
	padding: 1rem 2rem;
	background-color: var(--bkg-grey);
	border-radius: 10px;
	gap: .2rem;
	height: fit-content;
	text-align: right;
	max-width: fit-content;
}
.filter_item{
	font-size: 1.2rem;
	font-weight: bold;
}
#catalog{
	justify-content: space-around;
	width: 100%;
}
.logo{
	max-height: 8rem;
}
.panel{
	border-radius: 10px;
}
.spread{
	width: 100%;
	justify-content: space-between;
}
.row{
	display: flex;
	flex-direction: row;
	gap: 1rem;
}
.col{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.wrap{
	display: flex;
	flex-wrap: wrap;
}
.nav{
	gap: 2rem;
}
.icon{
	font-size: 1.5rem;
}
#catalog_list{
	width: auto;
	gap: 1rem;
	margin: 0rem 2rem;
}
#featured{
	width: 90%;
	justify-content: space-between;
	gap: 6rem;
	overflow-y: hidden;
	overflow-x: hidden;
	position: relative;
	margin: auto; 
}
.catalog_item{
	border-radius: 10px;
	width: 18rem;
	height: 18rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	transition: all .5s;
	&:hover{
		transform: scale(110%);
	}
}
.featured_item{
	border-radius: 5px;
	min-width: 100%;
	height: 20rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	transition: all 1s;
	overflow: hidden;
	&:hover{
		transform: scale(105%);
	}
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}
.desc{
	background-image: linear-gradient(rgba(0,0,0,0%), rgba(0,0,0,75%), rgba(0,0,0,100%));
	padding: 1rem
}
.modal{
	position: fixed;
	z-index: 101;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	flex-direction: row;
    justify-content: center;
    align-items: center;
	background-color: rgba(0,0,0,75%);
}
.item{
	position: absolute;
	width: 80%;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	&>.desc{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}
.button{
	padding: 1rem 2rem;
	display: flex;
	font-weight: bold;
	font-size: large;
	border-radius: 10px;
	background-color: var(--bkg-grey);
	& > .hidden_msg{
		display: none;
	}
	&:hover > .hidden_msg{
		background-color: var(--bkg-grey);
		display: absolute;
		margin: 1rem 1rem;
	}
}
.button.action{
	background-color: var(--bkg-red);
	
}
.center{
	align-items: center;
}
@media screen  and (max-width: 800px) {
	#root{
		padding: 0;
		justify-content: center;
		margin: 0;
		width: 100%;
	}
	.title{
		font-size: 3rem !important;
	}
	.greeting{
		&>h3{
			display: none;
		}
	}
	#hero.row{
		flex-direction: column;
	}
	#filter{
		flex-direction: row !important;
		max-width: 100%;
		width: auto;
		justify-content: space-between;
	}
	#catalog{
		flex-direction: column;
		align-items: stretch;
		padding: .8rem;
	}
	.catalog_item{
		width: auto;
	}
	#catalog_list{
		flex-direction: column;
		margin: 0;
	}
	#header{
		top: 0;
	}

}