#hero{
	padding: 8rem 1rem;
	padding-bottom: 0;
	background-image: url("https://i.pinimg.com/originals/25/02/5d/25025d2899d8b54798136d643a487fd8.jpg");
	background-size: cover;
	justify-content: space-between;
	border-radius: 0 0 15px 15px;
}
.greeting{
	width: 50%;
	&>h3{
		text-align: left;
		font-size: 2rem;
	}
}
.title{
	font-size: 6.5rem;
	text-align: left;
	margin: 0;
	font-weight: bold;
}
.services {
	gap: 3rem;
	&>.button{
		font-size: 2rem;
		display: flex;
		gap: 1rem;
		align-items: center;
		width: 18rem;
	}
}
